node_modules
.git
.github
*.log
test
.env
.env.*
!.env.ci
coverage
dist
*.md
.gitignore
.prettierrc
.eslintrc.cjs
tsconfig.json
vite.config.ts
data/jobs
data/workspaces
public/previews
public/uploads
